<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>strona glowna</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis,
      enim placeat voluptates quod doloremque soluta. Nemo modi repellat quam
      repellendus, dolorem suscipit totam, voluptatum sed ex odio distinctio?
      Quidem, sit. Nihil fugiat non cupiditate, esse in natus obcaecati ducimus,
      qui, assumenda ipsum est quas suscipit commodi enim ratione? Ea officia
      reprehenderit repellendus sed maxime veritatis cupiditate, voluptatum
      atque corrupti facilis. Impedit pariatur vel corrupti veritatis
      consequuntur. Iure soluta amet eius ex nobis. Unde dolor consequuntur
      voluptatum dignissimos cupiditate minima cum, nisi et quas exercitationem.
      Itaque sit praesentium incidunt saepe explicabo? Incidunt labore quaerat,
      at eos omnis asperiores ratione quisquam, ipsum veniam quae mollitia
      voluptatem quia iusto excepturi! Nam qui molestias id corporis ex quaerat
      deserunt tempora, fugiat pariatur praesentium rem.
    </p>
  </body>
</html>
