<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/kontakt" method="post">
      <label for="name">Imie</label>
      <input type="text" name="name" id="" /><br />
      <label for="email">email</label>
      <input type="text" name="email" id="email" /><br />
      <label>
        Temat 1:
        <input type="radio" name="radio" id="radio" value="1" />
      </label>
      <label>
        Temat 2:
        <input type="radio" name="radio" id="raidio" value="2" /> </label
      ><br />
      <textarea name="message" id="" cols="30" rows="10"></textarea><br />
      <input class="submit" type="submit" value="send" />
    </form>
    <script src="../public/preventSending.js"></script>
  </body>
</html>
